body, html {
    width: 100%;
    height: 100%;
    font-family: 'Georgia', sans-serif;
    color: #222;
     
}

.navbar-brand img{
width: 40px;
}

#NewItems {
    color: red;
}


.navbar-nav li {
    padding-right: 20px; 
}

.nav-link {font-size: 1.1em !important}



.carousel-inner img {
    width: 98%;
    height: 98%;
}

.carousel-inner, .left-carousel, .carousel.slide, .image-right, .image-right img {
    height: 100%;
}


.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top {
    text-shadow: 0.1px 0.1px 0.1px rgb(32, 21, 21);
}

.left-carousel{
      width: 870px;
      
    float: left;
    
    
} 

.carousel-indicators {
    float: left;
}

.image-right{
  margin-left: 10px;
  width: 500px;
      float: left;
      
    
}

.image-right img {
    width: 500px;
}

.stock {
    height: 305px;
    width: 80%;
    float: left;
    padding: 1%;
}




#logo {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 200%;
}

.nav-item {
    font-size: 110%;
}



#object, #logo, .collapse.navbar-collapse {
    vertical-align: middle;
} 

.btn.btn-outline-success.my-2.my-sm-0.text-dark.bg-light {
    border: 2px inset silver;
}

.form-inline.py-1{  
width: 350px;
}

.form-control.mr-sm-2 {
    width: 250px;
}